{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block js %}{% endblock %}

{% block contextmenu %}
  <li><button id="annotate" type="button" class="btn btn-default" data-toggle="modal" data-target="#annotationModal">Annotate</button></li>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="book">
      {{ book.html|safe }}
    </div>
  </div>

  <div class="modal fade" id="annotationModal" tabindex="-1" role="dialog" aria-labelledby="annotationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Annotation</h4>
      </div>
      <div class="modal-body">
        <p id="annotation-text"></p>
        <form role="form">
          <div class="form-group">
            <label for="annotationTextarea">Annotation</label>
            <textarea class="form-control" id="annotationTextarea" placeholder="Enter annotation"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="save">Save annotation</button>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript">

    var annotations = {{ annotations|safe }};

    $("#annotate").click(annotate);
    $("#save").click(saveAnnotation);
    createPopovers();
    var selectionString;
    var selectionRange;
    // createAnnotations({{ annotations | tojson }});

    // function createAnnotations(annotations){
    //   var startSpan = "<span class='annotation'>";
    //   var endSpan = "</span>";
    //   var elements = document.querySelectorAll('.book > *');
    //   for(var i = 0; i < annotations.length; i++){
    //     console.log(annotations[i]);
    //     var startContainer = $(elements[annotations[i].start_container]);
    //     var startIndex = annotations[i].start_index;
    //     var endContainer = $(elements[annotations[i].end_container]);
    //     var endIndex = annotations[i].end_index;
        
    //     if (annotations[i].start_container == annotations[i].end_container) {
    //       console.log(annotations[i].annotated_text);
    //       var text = startContainer.html();
    //       console.log(text);
    //       var newText = text.substring(0, startIndex) + startSpan + text.substring(startIndex, endIndex) + endSpan + text.substring(endIndex);
    //       console.log(newText);
    //       startContainer.html(newText);
    //     }else{

    //     }
    //   }
    // }

    function annotate(){
      selectionString = window.getSelection().toString();
      selectionRange = window.getSelection().getRangeAt(0);
      // postAnnotation(.toString());

      // var annotation = getUserSelection();
      // console.log(annotation);
      //CREATE ANNOTATION HERE AND ADD TO JSON
      // annotation.annotation = "This is an annotation!";
      // var annotationId = postAnnotation(annotation);
      // createAnnotation(annotation, annotationId);
    }

    function saveAnnotation(){
      postAnnotation($("#annotationTextarea").val());
    }

    // function removeAnnotations(){
    // 	//Remove all annotation spans from the DOM in order to get the correct index.
    // 	$('.annotation').remove();
    // }

    // function getUserSelection(){
    //   //Gets the details of the current selection and returns them as JSON.
    //   //TODO, deal with IE differences with selection. See http://www.quirksmode.org/dom/range_intro.html
    //   removeAnnotations();
    //   if (window.getSelection) {
    //     var selection = window.getSelection();
    //     var text = selection.toString();
    //     var range = selection.getRangeAt(0);
    //     var startIndex = range.startOffset;
    //     var startNodeIndex = $(range.startContainer.parentNode).index();
    //     var endIndex = range.endOffset;
    //     var endNodeIndex =$(range.endContainer.parentNode).index();
    //   }
    //   var annotation = {
    //     'text':text,
    //     'startIndex':startIndex,
    //     'endIndex':endIndex,
    //     'startContainer':startNodeIndex,
    //     'endContainer':endNodeIndex,
    //   };
    //   return annotation;
    // }

    function postAnnotation(annotation){
      $.ajax({
        type: "POST",
        url: '/book/' + {{ book.id }} + '/annotate',
        dataType: 'json',
        async: false,
        data: JSON.stringify({'text':selectionString,'annotation':annotation}),
        contentType: "application/json; charset=utf-8",
      }).done(function( annotation ) {
        var annotationSpan = document.createElement("span");
        annotationSpan.className = "annotation";
        annotationSpan.id = annotation.id;
        selectionRange.surroundContents(annotationSpan);
        $("#annotationModal").modal('hide');
        postHtml();
		  });
    }

    function postHtml(){
       $.ajax({
        type: "POST",
        url: '/book/' + {{ book.id }} + '/post',
        dataType: 'json',
        async: false,
        data: JSON.stringify({'html':$('.book').html()}),
        contentType: "application/json; charset=utf-8",
      });
    }

    function createPopovers(){
      console.log(annotations.length);
      for (var i = 0; i < annotations.length; i++){
        console.log(annotations[i]);
        $("#" + annotations[i].id).popover({
          "content":annotations[i].annotation,
          "trigger":"hover",
          "placement":"auto top",
          "title":annotations[i].annotated_text,
        });
      }
    }
   //  function getAnnotations(){
   //  	var url = '/book/' + {{ book.id }} + '/annotations';
   //  	$.getJSON(url, function (data){ 
   //  		createAnnotations(data);
			// });
   //  }

  </script>
{% endblock %}